<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: yellow;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function pay() {
            //1. 입력한 값들을 가지고 오기
            //money = $('#mondy').val()
            money = document.getElementById('money').value
            count = document.getElementById('count').value
            //2. 정수로 변환하기
            money2 = parseInt(money)
            count2 = parseInt(count)
            //3. 총 결제금액 계산
            sum = money2 * count2
            //4. 소액결제라서 2만원이면 naver연결, 아니면 확인창
            if (sum <= 20000){
                location.href = "http://www.naver.com"
            }else{
                alert('소액결제는 2만원까지만 가능합니다. 재입력해주세요.')
            }
        }
    </script>
</head>
<body>
    하나당 가격: <input id="money"> <br>
    물건의 개수: <input id="count"> <br>
    <button onclick="pay()">결제하기</button>
</body>
</html>